{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ "Connect 4"|trans({}, 'messages', locale) }}</h1>
    <p>{{ "My games"|trans({}, 'messages', locale) }}</p>
    <ul>
        {% for game in games %}
            
            <li>
                <a href="{{ path('app_game', {'id':game.id}) }}">Game {{ game.id }}</a>
            </li>
        {% endfor %}
         {% for game in games2 %}

            <li>
                <a href="{{ path('app_game', {'id':game.id}) }}">Game {{ game.id }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_new_game') }}">{{ "New game"|trans({}, 'messages', locale) }}</a>
</div>
{% endblock %}
