{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table tr td {
        border: 1px solid black;
        width: 3rem;
        height: 3rem;
        text-align: center;
        position: relative;
        border-radius: 100%;
        overflow: hidden;
    }
    a {
        text-decoration: none;
    }
    thead tr td {
        border: none;
    }
    table tr td span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    table tr td .occuped_me {
        background : #ffd800;
    }
    table tr td .occuped_opponent {
        background : red;
    }
    .players {
        display: flex;
        align-items: center;
    }
    .players p {
        display: flex;
        align-items: center;
    }
    .players .player_color {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        margin: 0 1rem;
        display: block
    }
    .players .player1.me,
    .players .player2.me {
        font-weight: bold;
    }
    .players .player1 .player_color {
        background-color: #ffd800;
    }
    .players .player2 .player_color {
        background-color: red;
    }
    .your_turn,
    .turn_of {
        display: inline-block;
        padding: 0.5rem 2rem;
        border-radius: 8px;
        font-weight: 700;
    }
    .your_turn {
        background-color: #5fea5f;
    }
    .turn_of {
        background-color: #ff3636;
        color: white;
    }
    .content_winner .info_winner {
        margin: 0;
        font-size: .8rem;
    }
    .iswin {
        display: inline-block;
        padding: 0.5rem 2rem;
        border-radius: 8px;
        font-weight: 700;
        margin-bottom: 7px;
    }
    .iswin.win {
        background-color: #5fea5f;
    }
    .iswin.lose {
        background-color: #ff3636;
        color: white;
    }
</style>

<div class="example-wrapper">
    <h1>Game {{ gameId }}</h1>
    <div class="players">
        {% set player1_class = current_user_email == player1.email ? 'player1 me' : 'player1' %}
        <p class="{{ player1_class }}">
            <span class="player_color"></span>{{ player1.email }}
        </p>
        {% set player2_class = current_user_email == player2.email ? 'player2 me' : 'player2' %}
        <p class="{{ player2_class }}">
            <span class="player_color"></span>{{ player2.email }}
        </p>
    </div>

    {% if winner == null %}
        {% if yourTurn %}
            <p class="your_turn">
                {{ "Your turn !"|trans({}, 'messages', locale) }}
            </p>
        {% else %}
            <p class="turn_of">
                {{ "Turn of"|trans({}, 'messages', locale) }} : {{ playerTurn }}
            </p>
        {% endif %}
    {% endif %}

    {% if winner != null %}
        <div class="content_winner">
            {% if winner == player1.id %}
                {% if current_user_email == player1.email %}
                    <p class="iswin win">🏆 {{ "You win"|trans({}, 'messages', locale) }} !</p>
                {% else %}
                    <p class="iswin lose">🥲 {{ "You lose"|trans({}, 'messages', locale) }}</p>
                {% endif %}
                <p class="info_winner">Winner : {{player1.email}} </p> 
            {% else %}
                <p class="info_winner">Winner : {{player2.email}} </p> 
            {% endif %}
        </div>
    {% endif %}
    <table>
        <thead>
            <tr>
                {% for y in 0..6 %}
                    <td>
                        {% if winner == null %}
                            {% if yourTurn %}
                            <a href="{{ path('app_game', {'id':gameId,'col': y}) }}">👇</a>
                            {% else %}
                            🚫
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for y in 0..5 %}
                <tr>
                    {% for x in 0..6 %}
                    <td>
                        {% for move in moves %}
                            {% if (x == move.columnName and y == move.rowName and move.player == player1.id) %}
                                <span class="occuped_me"></span>
                            {% endif %}
                            {% if (x == move.columnName and y == move.rowName and move.player == player2.id) %}
                                <span class="occuped_opponent"></span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
